.playerContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 1.5em;
  max-width: 500px;
}

.formElement {
  margin-top: .5em;
  margin-bottom: .5em;
}

.modalDiv {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  color: white;
  z-index: 2;
  cursor: pointer;
}

.modalShow {
  display: flex;
}

.modalHide {
  display: none;
}