html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.playerContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 1.5em;
  max-width: 500px;
  position: relative;
  align-items: center;
  box-sizing: border-box;
}

.formElement {
  margin-top: .5em;
  margin-bottom: .5em;
  width: 100%;
}

.modalDiv {
  overflow: hidden;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  color: white;
  z-index: 2;
  cursor: pointer;
  transition: all 1000ms ease-in-out 0ms;
  /* background-image: url(https://media.giphy.com/media/l44Qqq69E0gTyqLwk/source.gif); */
  /* background-image: url(https://media.giphy.com/media/9MJ65OWvrNIXnOiNEk/giphy.gif); */
  background-image: url(https://media.giphy.com/media/l4FGFr0bPkAeazQyI/giphy.gif);
  background-size: cover;
}


/* if doing a fade in set height to zero or display to none  */
.modalShow {
  height: 100%;
}

.modalHide {
  height: 0em;
}

.input {
  width: 100%;
  height: 56px;
  border-radius: 8px 0px 16px 0px;
  border-style: solid;
  border-width: 2px;
  border-color: #FC006780;
  background-color: #FC006733;
  outline: none;
  color: #FFFFFF;
  font-size: 24px;
  font-family: Calibri;
  padding-left: .5em;
  
}

.btn {
  height: 56px;
  width: 315px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px 0px 16px 0px;
  border-color: #FC0067;
  background-color: #FC006780;
  font-family: Calibri;
  font-size: 1.5em;
  color: white;
  text-shadow: 4px 0px #650029;
  outline: none;
  box-shadow: none;

}

.step1Show {
  display: flex !important;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.step1Hide {
  display: none;
}

.step2Show {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.step2Hide {
  display: none;
}
.step3Show {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.step3Hide {
  display: none;
}

.stepTxt {
  font-family: Calibri;
  font-size: 1.5em;
  color: white;
  text-align: center;
}

.inputContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 36px;
}

.inputNumDiv {
  width: 25px;
  height: 34px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Calibri;
  color: white;
  background-color: #650029;
  margin-right: 15px;
  border-color: #FC006780;
  border-radius: 8px 0px 16px 0px;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 5px;
}

.menuArrow {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
}

.startBtnContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.menuBar {
  display: flex;
  height: 83px;
  min-height: 83px;
  width: 100%;
  background-color: #1a0001;
  position: relative;
  align-items: center;
}

.mainContainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.menuLogo {
  width: 35px;
  position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;

}

.menuIcon {
  width: 35px;
  margin-left: 1.5em;
}


.Container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  padding-bottom: 2em;
}


.arrowContainer {
  width: 100%;
  padding-right: 2em;
  padding-left: 2em;
}

.arrowHide {
  display: none;
}